<!DOCTYPE html>
<html>
  <head>
    <title>Davinci</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h2>Analysis of the events held in Konzerthaus Berlin since 2008</h2>
    <%= yield %>
  </body>
</html>
